In [94]:
import numpy as np
import pandas as pd


# Creating Dataset 

is_molotov = []
is_ak47 = []
is_armor = []
is_katana = []
is_medkit = []
is_bahattin_the_dog = []

# Value 1 for inputs means player chose
# Value 0 for inputs means player didn't choose  

for a in range(2):
    for b in range(2):
        for c in range(2):
            for d in range(2):
                for e in range(2):
                    for f in range(2):
                        is_molotov.append(a)
                        is_ak47.append(b)
                        is_armor.append(c)
                        is_katana.append(d)
                        is_medkit.append(e)
                        is_bahattin_the_dog.append(f)

# Value 1 for output means player survived
# Value 0 for output means player didn't survive
survived = []
                        
# if player gets (armor, ak-47 and bahattin the dog) or (bahattin the dog and katana) he certainly will win
# else he will survive or not!
for i in range(64):
    if (is_armor[i] == 1 and is_ak47[i] == 1 and is_bahattin_the_dog[i] == 1) or ( is_bahattin_the_dog[i] == 1 and is_katana[i]):
        survived.append(1)
    else:
        survived.append(np.random.randint(2))
        

# Creating a dictionary that includes our data
data = { "is_molotov" : is_molotov,
        "is_ak47" : is_ak47,
        "is_armor" : is_armor,
        "is_katana" : is_katana,
        "is_medkit" : is_medkit,
        "is_bahattin_the_dog" : is_bahattin_the_dog,
        "survived" : survived
}
# Creating a dataframe
data = pd.DataFrame(data)

# Write Dictionary to a CSV File

In [95]:
data.to_csv('sample.csv', index=False)

In [96]:
df = pd.read_csv("sample.csv")
# Printing first 5 records in our dataframe
df.head()

,is_molotov,is_ak47,is_armor,is_katana,is_medkit,is_bahattin_the_dog,survived
0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,1
2,0,0,0,0,1,0,0
3,0,0,0,0,1,1,1
4,0,0,0,1,0,0,0

In [97]:
# Selecting inputs and output from dataframe 
X = df.iloc[:,:6]
y = df.iloc[:,6:7]

In [98]:
# ML algorithms Imports 
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

In [99]:
# Train size 70%, test size 30%
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=123)

# TRAINING

In [100]:
import warnings
warnings.filterwarnings("ignore")

models = {
    "   K-Nearest Neighbors": KNeighborsClassifier(),
    "   Logistic Regression": LogisticRegression(),
    "Support Vector Machine": SVC(),
    "         Decision Tree": DecisionTreeClassifier(),
    "        Neural Network": MLPClassifier()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")

   K-Nearest Neighbors trained.
   Logistic Regression trained.
Support Vector Machine trained.
         Decision Tree trained.
        Neural Network trained.

# RESULTS

In [101]:
for name, model in models.items():
    print(name + " Accuracy: {:.2f}%".format(model.score(X_test, y_test) * 100))

   K-Nearest Neighbors Accuracy: 75.00%
   Logistic Regression Accuracy: 80.00%
Support Vector Machine Accuracy: 70.00%
         Decision Tree Accuracy: 60.00%
        Neural Network Accuracy: 75.00%

In [102]:
# Choosing best model through their accuracy values
best_model = models["   Logistic Regression"]

In [103]:
numpy_ytest = np.array(y_test)
hard_examples = X_test.loc[(best_model.predict(X_test) != numpy_ytest.flatten()), :]
hard_examples

    is_molotov  is_ak47  is_armor  is_katana  is_medkit  is_bahattin_the_dog
40           1        0         1          0          0                    0
41           1        0         1          0          0                    1
11           0        0         1          0          1                    1
0            0        0         0          0          0                    0

In [110]:
hard_examples = data.loc[hard_examples.index, :]
hard_examples

,is_molotov,is_ak47,is_armor,is_katana,is_medkit,is_bahattin_the_dog,survived
40,1,0,1,0,0,0,0
41,1,0,1,0,0,1,0
11,0,0,1,0,1,1,0
0,0,0,0,0,0,0,1